@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

img {
    max-width: 100%;
}

body {
    @apply font-niveau-grotesk p-0 m-0 overflow-x-hidden;
}

.container {
    max-width: 1320px;
    padding-left: 8px;
    padding-right: 8px;
}

.description {
    p {
        margin-bottom: 16px;
    }
}

.btn {
    @apply inline-flex justify-center items-center h-[47px] rounded-md text-lg;
}

//Go To Top
#return-to-top {
    @apply bg-grey hover:bg-dark border-2 border-white shadow-lg w-[50px] h-[50px] right-[55px] bottom-[95px] rounded-full transition-all duration-100 ease-linear fixed flex justify-center items-center z-[10000000000] drop-shadow-2xl;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    @apply bg-grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #022444;
}
