section.banner {
    background: imgUrl('banner.jpg') center top;
    background-size: cover;

    @media screen and (min-width: 540px) {
        .banner-container {
            background: imgUrl('banner-staff.png') right top;
        }
    }

    .mainform {

        #banner-form-tab-2,
        #banner-form-tab-3,
        #banner-form-tab-4 {
            display: none;
        }

        input[type="radio"] {
            display: none;
        }

        label.loantype {
            background: rgba(154, 211, 213, 0.3);
            border-radius: 15px;
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            text-align: center;
            height: 131px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.1s all ease-in-out;

            &:hover {
                background: rgba(9, 99, 119, 0.45);
            }
        }

        input[type="radio"] {
            display: none;
        }

        input[type="radio"]:checked+label {
            background: #c2bde5;
            color: #ffffff;
        }

        .form-control {
            font-family: 'Visby', sans-serif;
            color: #096377;
            width: 100%;
            border: none;
            box-shadow: none;
            outline: none;
        }

        input.form-control,
        select.form-control {
            height: 57px;
            background: rgba(154, 211, 213, 0.2);
            padding: 4px 21px;
            border-radius: 100px;
        }

        textarea.form-control {
            border-radius: 20px;
            background: rgba(154, 211, 213, 0.2);
            padding: 20px;
        }

        .range {
            width: 100%;
            height: 24px;
            position: relative;
            background-color: #9AD3D5;
            border-radius: 100px;

            .sliderThumb {
                position: absolute;
                width: 34px;
                height: 34px;
                background-color: #798EFE;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                top: -6px;
                cursor: pointer;
                z-index: 2;
            }

            .progressBar {
                position: absolute;
                height: 100%;
                background-color: #1C305F;
                border-radius: 100px;
                z-index: 1;
            }

            input[type=range] {
                position: absolute;
                width: 99.5%;
                height: 24px;
                -webkit-appearance: none;
                opacity: 0;
                z-index: 3;

                &::-webkit-slider-thumb {
                    height: 34px;
                    width: 34px;
                    background-color: #5DC1A9;
                    border-radius: 30px;
                    cursor: pointer;
                    -webkit-appearance: none;
                }
            }
        }
    }
}

.lenderSlider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }
}

section.testimonials {
    background: imgUrl('testimonials.jpg');
    background-size: cover;

    .testimonialSlider {
        .slick-slide {
            min-height: 450px;
        }
    }
}

section.services {
    #sertifiedServicesSlider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            margin: 0 9px;
            width: 427px;
            height: 546px;

            @media screen and (max-width: 540px) {
                width: 100%;
            }

            .inner {
                position: absolute;
                top: 0;
                left: 0;
                padding: 40px;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                transition: width 0.5s ease;

                .description {
                    width: 100%;
                    transition: width 0.5s ease;
                }

                .tags {
                    display: none;

                    .tag {
                        @apply w-fit h-[42px] bg-secondary text-primary rounded-full flex justify-center items-center px-4 font-visby font-semibold capitalize;
                    }
                }
            }

            &.slick-current.slick-center {
                width: 867px;
                transition: width 0.5s ease;

                @media screen and (max-width: 540px) {
                    width: 100%;
                }

                .inner {
                    .description {
                        width: 50%;
                    }

                    .tags {
                        display: flex;
                    }
                }
            }
        }
    }
}

section.partner {
    form.form {
        .form-control {
            font-family: 'Visby', sans-serif;
            color: #faffff;
            width: 100%;
            border: none;
            box-shadow: none;
            outline: none;
        }

        input.form-control {
            height: 57px;
            background: rgba(154, 211, 213, 0.2);
            padding: 4px 21px;
            border-radius: 100px;
        }

        select.form-control {
            height: 57px;
            border: 2px solid #9AD3D5;
            background: transparent;
            padding: 4px 21px;
            border-radius: 100px;
        }

        textarea.form-control {
            border-radius: 20px;
            background: rgba(154, 211, 213, 0.2);
            padding: 20px;
        }
    }
}

section.australia-wide {
    background: imgUrl('australia-wide.jpg', 'lib') center;
    background-size: cover;
}

section.enquiryForm {
    form.form {
        .form-control {
            font-family: 'Visby', sans-serif;
            color: #faffff;
            width: 100%;
            border: none;
            box-shadow: none;
            outline: none;
        }

        input.form-control,
        select.form-control {
            height: 57px;
            background: rgba(154, 211, 213, 0.2);
            padding: 4px 21px;
            border-radius: 100px;
        }

        textarea.form-control {
            border-radius: 20px;
            background: rgba(154, 211, 213, 0.2);
            padding: 20px;
        }
    }
}